In [3]:
import pandas as pd

# Cargar el archivo CSV
file_path = 'C:\Data\Average export price for New Zealand wine.csv'

In [4]:
df = pd.read_csv(file_path)

In [5]:
print(df.head())

  Year_ended_June  Series Sector          Subsector        Measure     Value  \
0            2004  Actual  Dairy  Whole milk powder  Export volume  660359.0
1            2005  Actual  Dairy  Whole milk powder  Export volume  578231.0
2            2006  Actual  Dairy  Whole milk powder  Export volume  643853.0
3            2007  Actual  Dairy  Whole milk powder  Export volume  652448.0
4            2008  Actual  Dairy  Whole milk powder  Export volume  632411.0

  Value_Unit Value_Label  Null_Reason Metadata_1  Metadata_2
0     number      Tonnes          NaN        NaN         NaN
1     number      Tonnes          NaN        NaN         NaN
2     number      Tonnes          NaN        NaN         NaN
3     number      Tonnes          NaN        NaN         NaN
4     number      Tonnes          NaN        NaN         NaN

In [6]:
print(df.columns.tolist())

['Year_ended_June', 'Series', 'Sector', 'Subsector', 'Measure', 'Value', 'Value_Unit', 'Value_Label', 'Null_Reason', 'Metadata_1', 'Metadata_2']

In [7]:
df.columns = df.columns.str.strip()

In [8]:
clean_file_path = 'C:\Data\Clean_Average_export_price_for_New_Zealand_wine.csv'
df.to_csv(clean_file_path, index=False)

In [9]:
print("Archivo CSV limpio guardado en:", clean_file_path)

Archivo CSV limpio guardado en: C:\Data\Clean_Average_export_price_for_New_Zealand_wine.csv

In [10]:
file_path_2 = 'C:\Data\The best wine producers in the world.csv'
df_2 = pd.read_csv(file_path_2)

In [11]:
df_2.columns = df_2.columns.str.strip()

In [12]:
print(df_2.head())

                                 Country  Vineyards_hectares  \
0        France,"789,000",49.1,29.5,82.3                 NaN
1         Italy,"702,000",54.8,19.6,81.1                 NaN
2          Spain,"969,000",44.4,9.4,80.2                 NaN
3  United States,"430,000",23.9,3.9,82.6                 NaN
4             China,"875,000",9.3,1,69.5                 NaN

   Wine_Produced_million_hectolitres  Global_Exports  Av_Rating
0                                NaN             NaN        NaN
1                                NaN             NaN        NaN
2                                NaN             NaN        NaN
3                                NaN             NaN        NaN
4                                NaN             NaN        NaN

In [13]:
df_2 = pd.read_csv(file_path_2, quotechar='"', thousands=',')

In [14]:
print(df_2)

                                  Country  Vineyards_hectares  \
0         France,"789,000",49.1,29.5,82.3                 NaN
1          Italy,"702,000",54.8,19.6,81.1                 NaN
2           Spain,"969,000",44.4,9.4,80.2                 NaN
3   United States,"430,000",23.9,3.9,82.6                 NaN
4              China,"875,000",9.3,1,69.5                 NaN
5           Chile,"212,000",12.9,5.3,78.6                 NaN
6       Australia,"145,000",12.9,5.8,80.7                 NaN
7         Argentina,"219,000",14.5,2.2,80                 NaN
8          Turkey,"448,000",0.5,0.03,77.9                 NaN
9          Germany,"103,000",9.8,3.3,80.9                 NaN
10        Portugal,"192,000",6.1,2.5,80.2                 NaN
11    South Africa,"125,000",9.5,2.1,80.3                 NaN
12         Romania,"191,000",5.1,0.1,77.9                 NaN
13        New Zealand,"39,000",3,3.2,80.9                 NaN
14          Greece,"106,000",2.2,0.3,79.7                 NaN
15            Austria,"48,000",2.8,0.6,80                 NaN
16          Brazil,"82,000",3.1,0.02,78.3                 NaN
17          Hungary,"69,000",3.6,0.3,77.8                 NaN
18           Bulgaria,"64,000",1,0.1,80.3                 NaN
19      Switzerland,"15,000",1.1,0.4,79.7                 NaN

    Wine_Produced_million_hectolitres  Global_Exports  Av_Rating
0                                 NaN             NaN        NaN
1                                 NaN             NaN        NaN
2                                 NaN             NaN        NaN
3                                 NaN             NaN        NaN
4                                 NaN             NaN        NaN
5                                 NaN             NaN        NaN
6                                 NaN             NaN        NaN
7                                 NaN             NaN        NaN
8                                 NaN             NaN        NaN
9                                 NaN             NaN        NaN
10                                NaN             NaN        NaN
11                                NaN             NaN        NaN
12                                NaN             NaN        NaN
13                                NaN             NaN        NaN
14                                NaN             NaN        NaN
15                                NaN             NaN        NaN
16                                NaN             NaN        NaN
17                                NaN             NaN        NaN
18                                NaN             NaN        NaN
19                                NaN             NaN        NaN

In [15]:
df_2 = pd.read_csv(file_path_2, sep=',', quotechar='"', thousands=',')

In [16]:
print(df_2)

                                  Country  Vineyards_hectares  \
0         France,"789,000",49.1,29.5,82.3                 NaN
1          Italy,"702,000",54.8,19.6,81.1                 NaN
2           Spain,"969,000",44.4,9.4,80.2                 NaN
3   United States,"430,000",23.9,3.9,82.6                 NaN
4              China,"875,000",9.3,1,69.5                 NaN
5           Chile,"212,000",12.9,5.3,78.6                 NaN
6       Australia,"145,000",12.9,5.8,80.7                 NaN
7         Argentina,"219,000",14.5,2.2,80                 NaN
8          Turkey,"448,000",0.5,0.03,77.9                 NaN
9          Germany,"103,000",9.8,3.3,80.9                 NaN
10        Portugal,"192,000",6.1,2.5,80.2                 NaN
11    South Africa,"125,000",9.5,2.1,80.3                 NaN
12         Romania,"191,000",5.1,0.1,77.9                 NaN
13        New Zealand,"39,000",3,3.2,80.9                 NaN
14          Greece,"106,000",2.2,0.3,79.7                 NaN
15            Austria,"48,000",2.8,0.6,80                 NaN
16          Brazil,"82,000",3.1,0.02,78.3                 NaN
17          Hungary,"69,000",3.6,0.3,77.8                 NaN
18           Bulgaria,"64,000",1,0.1,80.3                 NaN
19      Switzerland,"15,000",1.1,0.4,79.7                 NaN

    Wine_Produced_million_hectolitres  Global_Exports  Av_Rating
0                                 NaN             NaN        NaN
1                                 NaN             NaN        NaN
2                                 NaN             NaN        NaN
3                                 NaN             NaN        NaN
4                                 NaN             NaN        NaN
5                                 NaN             NaN        NaN
6                                 NaN             NaN        NaN
7                                 NaN             NaN        NaN
8                                 NaN             NaN        NaN
9                                 NaN             NaN        NaN
10                                NaN             NaN        NaN
11                                NaN             NaN        NaN
12                                NaN             NaN        NaN
13                                NaN             NaN        NaN
14                                NaN             NaN        NaN
15                                NaN             NaN        NaN
16                                NaN             NaN        NaN
17                                NaN             NaN        NaN
18                                NaN             NaN        NaN
19                                NaN             NaN        NaN

In [17]:
with open(file_path_2, 'r') as file:
    lines = file.readlines()

In [18]:
cleaned_lines = [line.replace('""', '').replace('"', '') for line in lines]

In [19]:
temp_file_path = 'C:/Data/cleaned_world_best_wine.csv'
with open(temp_file_path, 'w') as file:
    file.writelines(cleaned_lines)

In [20]:
df_3 = pd.read_csv(temp_file_path)

In [21]:
print(df_3)

               Country  Vineyards_hectares  Wine_Produced_million_hectolitres  \
France             789                   0                               49.1
Italy              702                   0                               54.8
Spain              969                   0                               44.4
United States      430                   0                               23.9
China              875                   0                                9.3
Chile              212                   0                               12.9
Australia          145                   0                               12.9
Argentina          219                   0                               14.5
Turkey             448                   0                                0.5
Germany            103                   0                                9.8
Portugal           192                   0                                6.1
South Africa       125                   0                                9.5
Romania            191                   0                                5.1
New Zealand         39                   0                                3.0
Greece             106                   0                                2.2
Austria             48                   0                                2.8
Brazil              82                   0                                3.1
Hungary             69                   0                                3.6
Bulgaria            64                   0                                1.0
Switzerland         15                   0                                1.1

               Global_Exports  Av_Rating
France                  29.50       82.3
Italy                   19.60       81.1
Spain                    9.40       80.2
United States            3.90       82.6
China                    1.00       69.5
Chile                    5.30       78.6
Australia                5.80       80.7
Argentina                2.20       80.0
Turkey                   0.03       77.9
Germany                  3.30       80.9
Portugal                 2.50       80.2
South Africa             2.10       80.3
Romania                  0.10       77.9
New Zealand              3.20       80.9
Greece                   0.30       79.7
Austria                  0.60       80.0
Brazil                   0.02       78.3
Hungary                  0.30       77.8
Bulgaria                 0.10       80.3
Switzerland              0.40       79.7